* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: radial-gradient(rgba(173, 128, 89, 0.2), #ad8059); }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #202122;
  padding: 3rem; }

.heading-primary {
  color: #202122;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 11rem;
    font-weight: 900;
    letter-spacing: 2rem;
    line-height: 15vh;
    margin-bottom: 5rem;
    animation: moveInTop 5s ease-out; }
  .heading-primary--sub {
    display: block;
    font-family: "Cormorant Garamond", serif;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .25rem;
    line-height: 6vh;
    animation: moveInRight 5s ease-out 2s;
    animation-fill-mode: backwards; }

.heading-secondary {
  font-size: 6rem;
  display: inline-block;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom right, #a31f6c, #d1bbd9);
  -webkit-background-clip: text;
  color: transparent; }
  .heading-secondary:hover {
    transform: scale(2);
    text-shadow: 0.5rem 1rem 2rem rgba(32, 33, 34, 0.2); }

.paragraph {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-indent: 4rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.header {
  height: 95vh;
  background-image: radial-gradient(rgba(209, 187, 217, 0.7), rgba(218, 146, 122, 0.8), rgba(163, 31, 108, 0.8) 80%), url(../images/blur-caffeine-cappuccino-414656.jpg);
  background-size: cover;
  background-position: middle;
  position: relative;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.composition {
  position: relative; }
  .composition__photo {
    width: 17%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(163, 31, 108, 0.4);
    border: solid 2px #a31f6c;
    margin-left: 5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-about {
  padding: 25rem 0;
  margin-top: -15vh; }
