$color-primary: #fcd7fc;
$color-secondary:#e77cd4;
$color-tertiary: #9b9f3d;

$color-white: #fff;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: 400;    
    line-height: 1.7;
    color: $color-white;
    padding: 3rem;
}

.header{
    height: 95vh;
    background-image: 
    radial-gradient(rgba($color-primary, 0.7),
    rgba($color-secondary, 0.8),
    rgba($color-tertiary, 0.8)),
    url(../images/blur-caffeine-cappuccino-414656.jpg);
    background-size: cover;
    background-position: middle;
    position: relative;
    clip-path: ellipse(48% 48% at 50% 52%);
}

.header__text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 10rem;
    font-weight: 900;
    letter-spacing: 2rem;
    line-height: 15vh;
    margin-bottom: 5rem;
    animation: moveInTop 5s ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .5rem; 
    line-height: 6vh; 
    animation: moveInRight 5s ease-out 2s; 
    animation-fill-mode: backwards;
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(1rem) ;
    }

    100%{
        opacity: 1;
        transform: translate(0) ;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
