//Colors
$color-primary: #FBE9E4;
$color-secondary: #F5D4D9;
$color-tertiary: #EDAEAF;
$color-quaternary: #DD8E8D;

$color-dark: #202122;
$color-light: rgb(241, 238, 237);

$color-accent-primary: #856934;
$color-accent-secondary: #D9BE4B;

//Font
$default-font-size: 1.8rem;
$font-main:'Cinzel Decorative', sans-serif;
$font-secondary:'Cormorant Garamond', serif;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
