.card {

    //functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-dark, .15);

        &--front {
            background-image: radial-gradient(rgba($color-secondary, 0.4),
            rgba($color-tertiary, 0.4),
            rgba($color-quaternary, 0.4) 90%),
            url(../../images/cracks-design-exterior-941552.jpg);
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: radial-gradient($color-primary, $color-quaternary);
            }

            &-2 {
                background-image: radial-gradient($color-primary, $color-quaternary);
            }

            &-3 {
                background-image: radial-gradient($color-primary, $color-quaternary);
            }

            &-4 {
                background-image: radial-gradient($color-primary, $color-quaternary);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    &__picture {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 25rem;
        background-blend-mode: screen;

        &--1 {
            background-image: url(../../images/HPHangman.png);
        }

        &--2 {
            background-image: url(../../images/ShenronGuess.png);
        }

        &--3 {
            background-image: url(../../images/HPTrivia.png);
        }

        &--4 {
            background-image: url(../../images/CreativityManaged.png);
        }
    }

    &__heading {
        position: absolute;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            position: absolute;
            bottom: 2.5rem;

            li {
                padding: .5rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey;
                }
            }
        }
    }

    //Back side styling
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }
}