.composition {
    position: relative;

    &__photo {
        width: 17%;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba($color-quaternary, .4);
        border: solid 2px $color-text-secondary;
        margin-left: 5rem;
    }
}