.header{
    height: 95vh;
    background-image: 
    radial-gradient(rgba($color-secondary, 0.7),
    rgba($color-tertiary, 0.8),
    rgba($color-quaternary, 0.8) 80%),
    url(../images/blur-caffeine-cappuccino-414656.jpg);
    background-size: cover;
    background-position: middle;
    position: relative;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    &__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
    }
}