* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image: 
    radial-gradient(rgb(252, 215, 252, .8), rgb(231, 124, 212, .8), rgb(155, 159, 61, .8)),
    url(../assets/images/blur-caffeine-cappuccino-414656.jpg);
    background-size: cover;
    background-position: middle;
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 20vh;
}