body {
    background-image: radial-gradient( #fcd7fc,#e77cd4,#9b9f3d);     
}

/* Navigation CSS */

#navbarList{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
    font-weight: 700;
    margin-left: 100px;
    padding-left: 75px;
}
.nav-link{
    margin-right: 75px;
}

#personalLogo{
    height: 100px;
    width: 300px;
    margin-left: 75px;
}

#fairyimage{
    margin-right: 125px;
    height: 75px;
    width: 75px;
    transform: scaleX(-1);
}

/* Jumbotron */

.jumbotron{
    background-image: url("./images/blur-caffeine-cappuccino-414656.jpg");
    background-repeat: no-repeat;
    background-size: 1700px 550px;
    background-position-y: -100px;     
    height: 400px;
    text-align: center;
}

#myTitle{
    color: black;
    font-family: 'Cinzel Decorative', cursive;   
    font-weight: 900;
    position: relative;
    top: 75px;
}