.section-about {
    padding: 25rem 0;
    margin-top: -15vh;
}

.section-skills {
    font-size: 1.5rem;
    padding: 15rem;
    text-align: center; 
    height: 125vh;
    background-image: 
    radial-gradient(rgba($color-secondary, 0.7),
    rgba($color-tertiary, 0.8),
    rgba($color-quaternary, 0.8) 80%),
    url(../../images/cracks-design-exterior-941552.jpg);
    background-size: cover;
    background-position: middle;
}